<form action="/logout" method="post" id="logOutForm">
    <div class="row align-items-start justify-content-end">
        <div class="col-sm-3 col-md-3 col-4"></div>
        <div class="col-sm-5 col-md-7 col-5">
            <p>Have a good day, <b><%= username %></b></p>
        </div>
        <div class="col-sm-4 col-md-2 col-3 justify-content-end">
            <input class="btn btn-primary btn-sm" type="submit" value="Log Out">
        </div>
    </div>
</form>