<form action="/login" method="post" id="loginForm">
    <div class="row align-items-end justify-content-end">
        <div class="col-sm-4 col-md-3 col-5">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control-sm" style="width:80%" id="inputUsername" placeholder="" name="username">
        </div>
        <div class="col-sm-4 col-md-3 col-4">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control-sm" style="width:80%" id="inputPassword" placeholder="" name="password">
        </div>
        <div class="col-sm-4 col-md-2 col-3 justify-content-end">
            <input class="btn btn-primary btn-sm" type="submit" value="Log In">
        </div>
    </div>
</form>